<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

<!-- add Item -->
<div class="container m-5 p-5">
    <form class="add-product" action="">
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a><i class="fas fa-plus-square"></i></a>

                    <a><i class="fas fa-edit"></i></a>
                    <a><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(assets/img/category/category_1.png);"></div>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <div class="form-group">
                    <label for="">Title</label>
                    <input class="form-control" type="text" name="title" [(ngModel)]="newProductObj.title" />
                </div>
                <div class="form-group alert alert-danger col-12" *ngIf="newProductObj.title.length == 0">
                    Name is required..
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <textarea class="form-control" name="details" [(ngModel)]="newProductObj.details" cols="30" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Price</label>
                    <input class="form-control" type="text" name="price" [(ngModel)]="newProductObj.price" id="" />
                </div>
                <div class="form-group alert alert-danger col-12" *ngIf="newProductObj.price == 0">
                    Price is required..
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio">
                                <input type="radio" name="sale" value=true [(ngModel)]="newProductObj.isPromoted" />
                                <span>On Sale</span>
                            </div>
                            <div class="form-group__radio">
                                <input type="radio" name="sale" value=false [(ngModel)]="newProductObj.isPromoted" />
                                <span>Not On Sale</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Promotion</label>
                        <input class="form-control" type="text" name="promotion" [(ngModel)]="newProductObj.promotion" [disabled]="disabledFlag" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Quantity</label>
                    <input class="form-control" type="number" name="quantity" [(ngModel)]="newProductObj.quantity">
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control" name="category" #categorySelected (change)="selectCategory(categorySelected.value)">
                        <option value="men">Men</option>
                        <option value="women">Women</option>
                        <option value="children">Children</option>
                     </select>
                </div>
                <div class="form-group alert alert-danger col-12" *ngIf="newProductObj.category == null">
                    Category is required..
                </div>
                <div class="add-product__actions">
                    <button class="btn btn--gray" (click)="cancelAddingProduct()" routerLink="/products">Cancel</button>
                    <a type="button" class="btn btn--primary" (click)="addNewProduct()" href="/products">Add</a>
                </div>
            </div>
        </div>
    </form>
</div>