<app-dropdown>
    <!-- header -->
    <ng-container class="dropDownHeader">
        <!-- <div class="dropdown__header"> -->
        <div class="image image--small" style="background-image: url('assets/img/icons/icon-cart-big.svg'); margin: 5px; width: 20px; height: 20px;">
            <div>
                <div class="notification notification--danger">
                    {{ prdService.getShoppingCartContent()?.length }}
                </div>
            </div>
        </div>
    </ng-container>

    <!-- body -->
    <ng-container class="dropDownBody">
        <!-- <div class="dropdown__body"> -->
        <!-- items -->
        <div style="height: 300px; width: 400px; overflow: auto; background-color: white;">
            <ul class="dropdown__items list list--vr-separator">
                <li *ngFor="let prd of prdService.getShoppingCartContent()" class="dropdown__item list__item">
                    <!-- <div class="icon-wrapper" (click)="removeFromShoppingCart(prd)" style="position: relative;">
                        <i class="fa fa-trash-alt"></i>
                    </div> -->

                    <div class="item-small-1">
                        <div class="item-small-1__data">
                            <a href="" class="item-small-1__title">{{ prd.title }}</a>
                            <span class="item-small-1__description">
                               <!-- <input [(ngModel)]='prd.count' (ngModelChange)='getTotalCart()' /> -->
                               
                               {{ prd.count }}X ${{ getFinalPriceForAproduct(prd) }}
                            </span>
                        </div>
                        <div class="item-small-1__image-box">
                            <!-- <a class="item-small-1__image image" [style.backgroundImage]="'url(' + prd.image + ')'"> -->
                            <a class="item-small-1__image image" style="background-image: url({{prd.image}});">
                            </a>
                        </div>
                        <a class="item-small-1__action" (click)="removeFromShoppingCart(prd)">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>

                    <!-- <div class="item-small-1__image-box">
                        <a href="#" class="item-small-1__image image" [style.backgroundImage]="'url(' + prd.productImage + ')'">
                        </a>
                        <a class="item-small-1__action" (click)="prdService.removeFromShoppingCart(prd)">
                            <i class="fas fa-times"></i>
                        </a>
                    </div> -->



                </li>
            </ul>
        </div>
        <!-- totals -->
        <div class="separator"></div>
        <div class="block">
            <span class="lable">Total:</span>
            <span class="lable">${{ prdService.getTotalCostFromLocalStorage() }}</span>
        </div>
        <!-- actions -->
        <div class="block list list--hr">
            <a class="list-item btn btn--gray" href="">View Cart</a>
            <a class="list-item btn btn--primary" routerLink="/checkout">Checkout</a>
        </div>
        <!-- </div> -->
    </ng-container>
</app-dropdown>