<app-dropdown>
    <!-- header -->
    <ng-container class="dropDownHeader">
        <!-- <div class="dropdown__header"> -->
        <div class="image image--small"
            style="background-image: url('assets/img/icons/icon-cart-big.svg'); margin: 5px; width: 20px; height: 20px;">
            <div>
                <div class="notification notification--danger">
                    {{ shoppingCartListOfProducts?.length }}
                </div>
            </div>
        </div>
    </ng-container>

    <!-- body -->
    <ng-container class="dropDownBody">
        <!-- <div class="dropdown__body"> -->
        <!-- items -->
        <div style="height: 300px; overflow: auto;">
            <ul class="dropdown__items list list--vr-separator">
                <li *ngFor="let prd of shoppingCartListOfProducts" class="dropdown__item list__item">
                    <div class="item-small-1">
                        <div class="item-small-1__data">
                            <a href="" class="item-small-1__title">{{ prd.title }}</a>
                            <span class="item-small-1__description">
                                1 X ${{ getFinalPriceForAproduct(prd) }}
                            </span>
                        </div>
                        <div class="item-small-1__image-box">
                            <!-- <a class="item-small-1__image image" [style.backgroundImage]="'url(' + prd.image + ')'"> -->
                            <a class="item-small-1__image image"
                                [style.backgroundImage]="'url(assets/img/category/category_1.png)'">
                            </a>
                            <a class="item-small-1__action" (click)="removeFromShoppingCart(prd)">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- totals -->
        <div class="separator"></div>
        <div class="block">
            <span class="lable">Total:</span>
            <span class="lable" >${{ getTotalPriceOfShoppingCart() }}</span>
        </div>
        <!-- actions -->
        <div class="block list list--hr">
            <a class="list-item btn btn--gray" href="">View Cart</a>
            <a class="list-item btn btn--primary" routerLink="/checkout">Checkout</a>
        </div>
        <!-- </div> -->
    </ng-container>
</app-dropdown>