<div class="item-medium-1__alert" *ngIf="product.promotion">Sale</div>
<div class="single_category_product">
    <div class="single_category_img">
        <a routerLink="/productDetails/{{ product._id }}">
            <img src="assets/img/category/category_1.png" />
        </a>
        <div class="category_social_icon">
            <ul>
                <li>
                    <a (click)="prdService.addToShoppingCart(product)"><i class="ti-bag"></i></a>
                </li>
            </ul>
        </div>
        <div class="category_product_text">
            <a routerLink="/productDetails/{{ product._id }}">
                <h5>{{ product.title }}</h5>
            </a>
            <del *ngIf="product.promotion">${{ product.price }}</del>
            <br *ngIf="!product.promotion">
            <p>${{ getPrice() }}</p>
        </div>
        <div class="text-center" *ngIf="userService.getCurrentUser().role == 'admin'">
            <a class="btn btn-secondary m-1" routerLink="/product/edit/{{ product._id }}">
                Edit
            </a>
            <button type="button" class="btn btn-danger text-light m-1" data-toggle="modal" data-target="#myModal" routerLink="/product/delete/{{ product._id }}">
                Delete
            </button>
        </div>
    </div>
</div>