@charset "UTF-8";

/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:100,400,700"); */

@keyframes shake {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(0.3rem);
    }
}

.container {
    width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
}

a {
    text-decoration: none;
    color: #999;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
button,
textarea {
    -webkit-appearance: none;
}


.btn {
    color: white;
    padding: 1.12rem 1.6rem;
    border-radius: .4rem;
    min-width: 11.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    /* font-size: 1.12rem;
    font-weight: 700; */
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: #0088CC;
}

.btn--primary:hover {
    background-color: #0077b3;
}

.btn--gray {
    background-color: #101214;
}

.btn--gray:hover {
    background-color: #272c30;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter__header {
    /* font-size: 5rem;
    font-weight: 700; */
    color: #0088CC;
}

.counter__data {
    /* font-size: 2rem;
    font-weight: 100; */
    color: #444;
}

.crud-actions {
    position: absolute;
    bottom: .5rem;
    right: 1.5rem;
}

.crud-actions a:hover {
    color: #0088CC;
}



.form-control {
    line-height: 1.85;
    border: 1px solid rgba(0, 0, 0, 0.198);
    border-radius: 4px;
    padding: .6rem 1.2rem;
    width: 100%;
    /* font-size: 1.4rem; */
}

.form-control:focus,
.form-control:active {
    outline: none;
    border: 1px solid #999;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
    position: relative;
    flex-grow: 1;
}

.form-group__checkboxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group__checkbox {
    display: flex;
    align-items: center;
    min-width: 50%;
    /* font-size: 1.4rem; */
}

.form-group__checkbox span {
    padding: .4rem;
}

.form-group__radios {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group__radio {
    display: flex;
    align-items: center;
    min-width: 50%;
    /* font-size: 1.4rem; */
}

.form-group__radio span {
    padding: .4rem;
}

.form-group label {
    /* font-size: 1.4rem;
    font-weight: 700; */
    margin-bottom: .8rem;
}

.form-group.invalid label {
    color: #ed5348;
}

.form-group.invalid .form-control {
    border-color: #ed5348;
    position: relative;
}

.form-group.invalid::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-family: "Font Awesome 5 Free";
    content: "ï€";
    position: absolute;
    bottom: .725rem;
    right: .725rem;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ed5348;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.form-row {
    display: flex;
    width: 100%;
    justify-content: stretch;
}

.form-row .form-group:not(:last-of-type) {
    padding-right: 1rem;
}

.image {
    background-size: cover;
    background-position: center;
    margin: .3rem;
    position: relative;
}

.image--small {
    width: 3rem;
    height: 3rem;
}

.image--circle {
    border-radius: 50%;
    border: 2px solid #444;
}



.link {
    cursor: pointer;
}



.link:hover .link__icon {
    animation-name: shake;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: .3s;
    animation-timing-function: linear;
}



.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.slider__items {
    width: 100%;
}

.slider__item {
    background-size: cover;
    display: none;
    width: 100%;
    padding-bottom: 100%;
}

.slider__item.active {
    display: flex;
}

.slider__indicators {
    right: calc(50% - 2.5rem);
    display: flex;
    width: 10rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-evenly;
}

.slider__indicator {
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: #e4e3e3;
}

.slider__indicator:hover,
.slider__indicator.active {
    background-color: #0088CC;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 25.5rem;
    position: relative;
    flex-direction: column;
    margin-bottom: 5rem;
}

.tabs__headers {
    display: flex;
}

.tabs__header {
    position: relative;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-top: 2px solid #e4e3e3;
    border-bottom-width: 0;
    border-radius: 4px 4px 0 0;
    padding: 1.6rem 2.4rem;
    background-color: #F7F7F7;
    margin-right: 1px;
    color: #0088CC;
}

.tabs__header.active {
    border-top-color: #0088CC;
    background-color: white;
    border-bottom-width: 0;
}

.tabs__bodies {
    padding: 2.4rem;
    border: 1px solid rgba(0, 0, 0, 0.06);
    min-height: 20rem;
    position: relative;
    top: -2px;
}

.tabs__body {
    font-size: 1.4rem;
}

.tabs__body:not(.active) {
    display: none;
}

.tags {
    line-height: 2.6rem;
}

.tag {
    background-color: #212529;
    border-radius: 5rem;
    color: white;
    padding: .2rem .8rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.05rem;
}

.tag:not(:last-of-type) {
    margin-right: .4rem;
}

.taged-textbox {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.198);
    border-radius: 4px;
    padding: 1.2rem;
}

.taged-textbox__data {
    display: flex;
    align-items: flex-start;
}

.taged-textbox__tags {
    display: flex;
    flex-wrap: wrap;
}

.taged-textbox__tag {
    background-color: #e4e3e3;
    padding: .5rem;
    border-radius: 10rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taged-textbox__tag:not(:last-of-type) {
    margin-right: 1rem;
}

.taged-textbox__tag span {
    padding: 0 .7rem;
}

.taged-textbox__remove {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 50%;
    background-color: #444;
    color: #e4e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taged-textbox__clear {
    font-size: 2rem;
}

.taged-textbox__textbox {
    border-width: 0;
    width: 100%;
    padding: 0;
    line-height: 1.85;
    font-size: 1.4rem;
}

.taged-textbox__textbox:focus,
.taged-textbox__textbox:active {
    border-width: 0;
}

.footer {
    height: 10rem;
}

.header__upper {
    border-top: 3px solid #0088CC;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.header__middle {
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
}

.header__logo-box {
    display: flex;
    align-items: center;
    width: 10rem;
}

.header__logo {
    width: 100%;
}

.header__user-options {
    display: flex;
    align-items: center;
}

.header__lower {
    background-color: #F7F7F7;
    padding: 0 1.5rem;
    margin-bottom: 4rem;
}

.nav__item.dropdown>.dropdown__body {
    display: flex;
    visibility: hidden;
    top: 8rem;
}

.nav__item.dropdown:hover>.dropdown__body {
    visibility: visible;
    top: 6.2rem;
    transition: all .2s ease-out;
}

.nav__link {
    text-transform: uppercase;
    color: #444;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 2.3rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link:hover {
    color: #0088CC;
}

.nav__inner-link {
    padding: .6rem 1.8rem;
    display: flex;
}

.nav__inner-link:hover {
    background-color: #F7F7F7;
}

.add-product {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.add-product__add {
    width: 70%;
    display: flex;
}

.add-product__images {
    width: 60%;
    position: relative;
}

.add-product__image-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: absolute;
}

.add-product__image-action {
    font-size: 2rem;
    padding: 1.5rem;
}

.add-product__image-action i {
    color: #444;
    padding: .5rem;
}

.add-product__image-action i:hover {
    color: #0088CC;
}

.add-product__data {
    align-self: flex-start;
    padding: 0 3rem;
}

.add-product__discount {
    display: flex;
    width: 100%;
}

.add-product__discount .form-group {
    width: 50%;
}

.add-product__actions {
    display: flex;
    justify-content: flex-end;
}

.add-product__actions .btn:first-of-type {
    margin-right: 1rem;
}

.add-product .tabs {
    margin-bottom: 1rem;
}

.product-details {
    display: flex;
    flex-direction: column;
}

.product-details__main {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
}

.product-details__info {
    padding: 0 1.5rem;
}

.product-details__amount {
    font-size: 2.8rem;
    font-weight: 400;
    color: #444;
    margin-bottom: 2rem;
}

.product-details__desc {
    font-size: 1.4rem;
    color: #777;
    font-weight: 400;
    line-height: 2.6rem;
}

.product-details__desc p:not(:last-of-type) {
    margin-bottom: 2rem;
}

.product-details__add {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
}

.product-details__meta {
    font-size: 1.4rem;
    color: #777;
}

.product-details__meta a {
    color: #0088CC;
}

.product-details .slider {
    min-width: 54rem;
    padding: 0 1.5rem;
}

.realated-product {
    width: 100%;
    margin-top: 5rem;
}
